$background-color: #0a2326;
$font-color: #f4fed8;
$block-background-color-main: rgba(77, 244, 244, 0.448);
$block-shadow-color: rgb(57, 170, 190);
$border-shadow-color: rgba(0, 0, 0, 0.1);
$error-text-color: rgb(255, 62, 62);
$border-color: rgba(0, 0, 0, 0.639);
$block-background-color-secondary: rgba(0, 0, 0, 0.802);
