@import '../../styles/colorMatrix.scss';

.card-wrapper {
  background-color: $card-wrapper-background-color;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px $card-box-shadow;
  transition: box-shadow 0.1s ease;
  &:hover {
    box-shadow: 0px 0px 40px $card-box-shadow-hover;
    cursor: default;
  }
}
