.currency-converter {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex: 2;

  &__block-main {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & label {
      font-size: $font-size-big;
      font-weight: bold;
    }
  }

  &__block-secondary {
    display: flex;
    gap: 1rem;
  }
}
